.bg {
    color: rgb(255, 252, 240);
    background-image: url("static/img/ross-sokolovski.jpg");
    /* background-image: url("{{url_for('static', filename='/img/ross-sokolovski.jpg')}}"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}