<!-- Main version -->
<div class='container row'>
    <!-- Header -->
    <div class='container row'>
        <h4 class='col-2' style="color:#452369;">{{feature.major_ver}}.{{feature.minor_ver}}.{{feature.sub_ver}}</h4>
        <div class='col text-end'><button type="button" class="btn btn-outline-dark btn-sm">PDF</button></div>
    </div>

    <!-- Zastapic petla -->
    <div class='container row'>
        <div class='col-1'></div>
        <div class='container col-11'>
            <div class='row'>
                <h6 class='col'>{{feature.title}}</h6>
                <small class='col-3 text-end '><em>{{feature.date}} &emsp; {{feature.initial}}</em></small>
            </div>
            <div class='row'>
                <div class='col-1'></div>
                <ol class="col list-group list-group-numbered">
                    <li class="">{{feature.description}}</li>
                </ol></div>
            <div class='row'>
                <a href="{{feature.link}}" class='col text-end'>Link</a>
            </div>
        </div>
    </div>
    <!-- koniec do petli -->
    <hr style="margin-top: 10px;">
</div>