<!-- Main version -->
<div class='container row p-0 m-0'>
    <!-- Header -->
    <div class='container row'>
        <h4 class='col-2' style="color:#452369;">
            {{feature[0].versions.major_ver}}.{{feature[0].versions.minor_ver}}.{{feature[0].versions.sub_ver}}</h4>
        {% if login.user != None %}
            <div class='col text-end'><button type="button" class="btn btn-outline-dark btn-sm">PDF</button></div>
        {% endif %}
    </div>

    <!-- Zastapic petla -->
    <div class='container row'>
        <div class='col-1'></div>
        <div class='container col-11'>
            <div class='row'>
                <h6 class='col fw-bolder'>{{feature[0].title}}</h6>
                <small class='col-3 text-end '><em>{{feature[0].date}} &emsp; {{feature[0].initial}}</em></small>
            </div>
            <div class='row'>
                <div class='col-1'></div>
                <ol class="col list-group list-group-numbered">
                    {%for i in feature%}
                        <li class="row">
                            <p class="col my-0">{{feature[loop.index-1].description}}</p>
                            {% if login.user != None %}
                                {%if feature[0].link != ""%}
                                <a href="{{feature[0].link}}" class='col-1 text-end'><i class="fas fa-link"></i></a>
                                {%endif%}
                            {% endif %}
                        </li>
                    {%endfor%}
                </ol></div>
            <div class='row'>

            </div>
            <hr class="my-2">
        </div>
    </div>
    <!-- koniec do petli -->

</div>