{% extends "base.html" %}
{% block title %}Features{% endblock %}

{% block content %}
<section class='col px-3'>
    <ul class="nav nav-tabs">
        {% for program in programs%}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if pr == program.id_software }}" aria-current="page" href="{{ url_for('features', program=program.id_software)}}">{{program.name}}</a>
            </li>
        {% endfor%}
    </ul>
    <div class='container pe-0'>
        <br>
        <!-- if Program 1 -->
        {% for feature in content %}
            {% include "changelog.html" %}
        {% endfor %}
        <!-- else -->
    </div>
</section>
{% endblock %}

{% block aside %}
<aside class='col p-5 text-white' >
    {% if login.user != None %}
        {% include "form.html" %}
    {% endif %}
</aside>
{% endblock %}