{% extends "base.html" %}
{% block title %}Features{% endblock %}

{% block content %}
<section class='col-8'>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if pr == 1 }}" aria-current="page" href="/?pr=1">Program 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if pr == 2}}" aria-current="page" href="/?pr=2">Program 2</a>
        </li>
    </ul>
    <div class='container pe-0'>
        <br>
        <!-- if Program 1 -->
        {% for feature in content %}
            {% include "changelog.html" %}
        {% endfor %}
        <!-- else -->
    </div>
</section>
{% endblock %}

{% block aside%}
<aside class='col-4' >
    {% if login.user != None %}
        {% include "form.html" %}
    {% endif %}
</aside>
{% endblock %}