<h4 class='display-7 text-center'>Add new feature</h4>
<hr>
<form id="new_feature" action="{{ url_for('form') }}" method="POST">
    <select class="form-select" aria-label="Default select example" name="program_id">
      <option selected name="program_id">Choose program:</option>
        {% for program in programs %}
            <option value={{program.id_software}} name="program_id">{{program.name}}</option>
        {% endfor %}
    </select><br>


    <div class="input-group mb-3">
      <span class="input-group-text">ver:</span>
      <input type="text" class="form-control" name="majorVer" value="0">
      <span class="input-group-text">.</span>
      <input type="text" class="form-control" name="minorVer" value="0">
      <span class="input-group-text">.</span>
      <input type="text" class="form-control" name="subVer" value="0">
    </div>

    <label class="form-label">Title</label>
    <input class="form-control" list="datalistOptions" name="title" placeholder="Title/Group">
    <datalist id="datalistOptions">
        {% for title in options %}
            <option value="{{title.title}}">
        {% endfor %}
    </datalist><br>

    <label class="form-label">Description</label>
    <textarea type="text" class="form-control" placeholder="" name="desc"></textarea><br>

    <label  class="form-label">Link to task</label>
    <input type="text" class="form-control" id="basic-url" placeholder="trello, youtrack etc.." name="link">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p><small class='text-end' style="font-style: italic;">Instruction how to create new feature and add main version.</small></p>
