<h4 class='display-6'>Add new feature</h4>

<form>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Program 1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Program 2</label>
        </div>
    </div>

    <div>
        <div class="col-sm">
            <label class="form-label">Major version</label>
            <input type="text" class="form-control" placeholder="__.0.0" aria-label="__.0.0">
        </div>
        <div class="col-sm">
            <label class="form-label">Minor version</label>
            <input type="text" class="form-control" placeholder="0.__.0" aria-label="0.__.0">
        </div>
        <div class="col-sm">
            <label class="form-label">Sub version</label>
            <input type="text" class="form-control" placeholder="0.0.__" aria-label="0.0.__">
        </div>
    </div>

    <div class="col-sm">
        <hr>
        <label for="exampleDataList" class="form-label">Title</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Title/Group">
        <datalist id="datalistOptions">
            <option value="Title 1">
            <option value="Title 2">
            <option value="Title 3">
            <option value="Title 4">
            <option value="Title 5">
        </datalist>
    </div>

    <div class="col-sm">
        <hr>
        <label class="form-label">Description</label>
        <textarea type="text" class="form-control" placeholder=""></textarea>
    </div>

    <div>
        <hr>
        <label for="basic-url" class="form-label">Link to task</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" placeholder="trello, youtrack etc.." aria-describedby="basic-addon3">
        </div>
    </div>

    <div>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    </br>
    <div>
        <p><small class='text-end'>Instruction how to create new featrue and add main version.</small></p>
    </div>
</form>