{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <section class='d-flex text-center align-items-center'>
      <form class="mx-auto" method="POST" action="{{url_for('login')}}">

        <div class="mb-3">
          <label for="user_name" class="form-label">Login</label>
          <input type="text" class="form-control" id="user_name" name="user_name" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="user_pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="user_pass" name="user_pass">
        </div>

        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
      
    </section>
{% endblock %}

{% block aside%}

{% endblock %}