{% extends 'base.html' %}

{% block title %}Programs{% endblock%}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">This program will be deleted:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="idDeleteModalBody">
      program
      </div>
      <div class="modal-footer">
        <form action="" method="GET" id="confirmDeleteForm">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
      // For a delete record popup
      // This function is applied to all elements with class ending with ".delete-confirm"
      $('.delete-confirm').click(function () {
          // get attributes of the found element
          var desc = $(this).attr('data-desc');
          var url = $(this).attr('data-url');
          // the #... designates id of an element - change the text in the modal window
          $('#idDeleteModalBody').text(desc);
          $("#confirmDeleteForm").attr("action", url);
      });
  });
</script>

<div class="container row pt-40">
  <table class="table table-striped col ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Program name</th>
        <th scope="col">Description</th>
        {% if login.user != None %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for program in softwares %}
        <tr>
          <td>{{program.id_software}}</td>
          <td>{{program.name}}</td>
          <td>{{program.description}}</td>
          {% if login.user != None %}
          <td>
          <a type="button" class="btn btn-outline-dark btn-sm"
             href="{{ url_for('edit_program', program_id=program.id_software) }}">Edit</a>

          <a type="button" class="btn btn-outline-danger btn-sm delete-confirm mt-1" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
             data-desc="{{ 'Delete program {}?\nDesc:\n{}'.format(program.name, program.description) }}"
              data-url="{{ url_for('delete_program', program_id=program.id_software) }}" >Delete</a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock%}

{% block aside %}
  <aside class='col p-5 text-white' >
    {% if login.user != None %}
          <h5 class="text-center">Add new program</h5><hr>
          <form id="new_program" action="{{ url_for('programs') }}" method="POST">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Program name</label>
              <input type="text" class="form-control" name='name' id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Program description</label>
              <textarea class="form-control" name='desc' id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add +</button>
          </form>
    {% endif %}
  </aside>
{% endblock %}